.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: lightgrey;
    border-radius: 25px;
}


.card__headline {
    color: darkred;
    text-decoration: underline;
}

.card__question {
    padding: 1rem;
}

.card__button {
    padding: 0.5rem;
    
}

.card__taglist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50%;
    padding: 0.5rem 0;

}

.card__taglist__style {
    border: solid;
    background-color: darkred;
    border: 0;
    color: white;
    padding: 0.5rem;
    list-style-type: none;
    border-radius: 25px;
    font-size: 0.75rem;
    margin: 0.5rem;


}
