


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: 25px;
}


.card__headline {
    color: darkred;
    text-decoration: underline;
}

.card__question {
    padding: 1rem;
}

.card__button {
    background-color: darkred;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
    transition-duration: 0.4s;

}

.card__button:hover {
    background-color: white;
    color: black;
    border: 1px solid darkred;
}



.card__taglist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50%;
    padding: 0.5rem 0;

}

.card__taglist__style {
    border: solid;
    background-color: white;
    border: 0;
    color: dark;
    padding: 0.5rem;
    list-style-type: none;
    border-radius: 25px;
    font-size: 0.75rem;
    margin: 0.5rem;
    border: 0.1rem solid darkred;


}


