
.navigation {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkred;
    color: white;
    padding: 0;
    width: auto;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 25px;
    z-index: 40;
    right: 1rem;
    left: 1rem;
}

.navigation__listicon {
    color: white;
    list-style-type: none;
    padding: 0.5rem;
    padding-left: 0;
}

.navigation__iconstyle {
    background-color: darkred;
}

.navigation__iconstyle:hover {
    background-color: lightgrey;
}

.navigation__iconstyle:active {
    transition: transform: scale(1.2);
}
