*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundimage {
  background-image: url(../images/machu-picchu.jpg);
  background-size: cover;
  z-index: 20;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: white;
    top: 0;
    left: 1rem;
    right: 1rem;
    height: 100px;
    margin-top: 1.5rem;
    border-radius: 25px;
    z-index: 20;
  }
  
  .headcontainer {
    position: fixed;
    background-color: white;
    width: 100%;
    color: white;
    z-index: 15;
    top: 0;
    margin-top: 0;
    height: 50px;
  }

  main {
    margin-top: 130px;
    margin-bottom: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  
  footer {
    position: fixed;
    display: block;
    bottom: 0;
    margin-bottom: 2rem;
    height: 50px;
    z-index: 20;
  }

  .footercontainer {
    position: fixed;
    background-color: white;
    width: 100%;
    color: white;
    z-index: 15;
    bottom: 0;
    margin-bottom: 0;
    height: 35px;
  }


