* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.pagestructure {
    display: flex;
    flex-direction: column;

}

.headerline {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid 1px red;
    justify-content: center;
    margin: 0.5rem;
}

.questionbox {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.tagbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
}

li.tag {
    border: solid;
    background-color: red;
    color: white;
    padding: 0.5rem;
    list-style-type: none;

}

.questionheadline {
    color:red;
    text-decoration: underline;
}

.footerbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 0;
    margin-top: auto;
    margin-bottom: 0;

}

.iconsfooter {
    color: white;
    list-style-type: none;
    padding: 0.5rem;
    padding-left: 0;
}